* {
    padding: 0;
    margin: 0;
}

body {
    margin: 9vh auto;
    background-color: rgba(235, 220, 4, 0.192);
}

.classe_tab{
    background: #595302;
    margin: 0 auto;
    width: 40%;
    padding: 3px;
}

ul {
    display: flex;
    padding: 0;
}
    
.classe_cel {
    display: block;
    margin: 3px;
    width: 33%;
    height: 150px;
    background: #EAF205;
    font-size: 125px;
    color: #BFB304;
    text-align: center;
}

button {
    margin: 10px auto;
    display: block;
    padding: 10px;
    font-family: cursive;
    font-weight: 600;
    font-size: inherit;
    background-color: #595302;
    color: #BFB304;
    border-color: #EAF205;
}

.img {
    margin-left: 25px;
}

.img-um {
    height: 300px;
    padding: 30px;
    margin-top: 70px;
    transform: rotate(-23deg);
}
.img-dois {
    height: 300px;
    padding: 30px;
    margin-top: 45px;
    transform: rotate(23deg);
    float:right;
}

.tudo {
    display: flex;
}
